<%- include("partials/header"); -%>

<h1 style="margin-top: 50px">
  Welcome <span style="color: red; font-weight: bold"></span>
</h1>
<h1>Highest Level:<span style="color: red; font-weight: bold"> </span></h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5 col-md-10 col-lg-12">
      <form action="/logout" method="get">
        <button
          style="
            height: 72px;
            width: 134px;
            border-top-width: 0px;
            border-bottom-width: 0px;
            border-left-width: 0px;
            border-right-width: 0px;
          "
          class="btn btn-primary"
          type="submit"
        >
          logout
        </button>
      </form>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5 col-md-10 col-lg-12">
      <header>
        <h1 style="margin-top: 30px">Best Players</h1>
      </header>
      <form action="/addAppointment" method="post">
        <div class="form-group">
          <input
            id="email"
            class="form-control"
            name="time"
            value="8:50 - 10:50"
            required
            minlength="5"
            maxlength="50"
            placeholder="username"
          />
        </div>
        <button class="btn-light">add appointmentP</button>
      </form>
      <button onclick="addAppoinment()">8:50 - 10:50</button>
      <table>
        <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Highest Level</th>
          </tr>
        </thead>
        <tbody>
          <% var num=1 %> <% foundUsers.forEach(function(foundUser){ %>
          <tr onclick="deleteAppoinment(this)">
            <td class="rank"><%= num++ %></td>

            <td class="team"><%= foundUser.name%></td>

            <td class="points">
              <%= foundUser.time %> <button id="supprimer">supprimer</button>
            </td>
            <td class="rank" hidden><%=foundUser.id %></td>
          </tr>
          <%})%>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
  function deleteAppoinment(foundUser) {
    const foundUserId = foundUser.lastElementChild.innerHTML;
    $.post("localhost:3000/deleteAppointment", {
      userId: JSON.stringify({
        id: foundUserId,
      }),
      function(data, status) {
        console.log(data);

        //window.location.reload();
      },
    });
  }

  function addAppoinment() {
    console.log("hello");
    $.post("ocalhost:3000/addAppointment", {
      bookedTime: JSON.stringify({
        time: "8:50-10:50",
      }),
      function(data, status) {
        console.log(status);
        console.log(data);
      },
    });
  }
</script>
<%-include("partials/footer"); -%>
