
<%-include("partials/header"); %>


<main>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-5 col-md-10 col-lg-12">
        <form action="/logout" method="get">
          <button
            style="
           
              position: relative;
              left:120px;
              bottom:140px;
              height: 40px;
              width: 100px;
              border-top-width: 0px;
              border-bottom-width: 0px;
              border-left-width: 0px;
              border-right-width: 0px;
            "
            class=" btn-danger  btn-sm"
            type="submit"
          >
            
            deconnecter
          </button>
        </form>
      </div>
    </div>
  </div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5 col-md-10 col-lg-12">
      <header>
        <h1 style="margin-top: 30px"></h1>
      </header>
      <form action="/addAppointment" method="post">
        <div class="form-group">
          <input
            id="email"
            class="form-control"
            name="time"
            value="16:00 - 17:30"
            required
            minlength="5"
            maxlength="50"
            placeholder="username"
            hidden
          />
        </div>
        <button class="btn-success btn-sm">Ajouter 16:00 - 17:30</button>
      </form>
      <form action="/addAppointment" method="post">
        <div class="form-group">
          <input
            id="email"
            class="form-control"
            name="time"
            value="17:30 - 19:00"
            required
            minlength="5"
            maxlength="50"
            placeholder="username"
            hidden
          />
        </div>
        <button class="btn-success btn-sm">Ajouter 17:30 - 19:00</button>
      </form>
      <button class="btn-info btn-sm" onclick="">Vendredi</button>
      <table >
        <thead>
          <tr>
            <th></th>
            <th>Nom</th>
            <th>Heure</th>
          </tr>
        </thead>
        <tbody id="table">
    
          <% var num=1 %> <% foundUsers.forEach(function(foundUser){ %>
           
          <%if(foundUser.table1){%>
          <tr id="supprimer1"  onclick="deleteAppoinment(this)">
            <td class="rank"><%- num++ %></td>

            <td class="team"><%- foundUser.name%></td>
            
            <td class="points">
              <%- foundUser.time %>
              <%if(foundUser.deleteButton){%>
               <button  id="supprimer1"  class="btn-primary btn-sm">supprimer</button>
               <%}%>
            </td>
            <td class="rank" hidden><%-foundUser.id %></td>
          </tr>
          <%}%>
          
          
         
          
          
          <%})%>
    
          
        </tbody>
      </table>
      <div style=" margin-top:90px" ></div>

      <form action="/addAppointment2" method="post">
        <div class="form-group">
          <input
            id="email"
            class="form-control"
            name="time"
            value="10:00 - 11:30"
            required
            minlength="5"
            maxlength="50"
            placeholder="username"
            hidden
          />
        </div>
        <button class="btn-success btn-sm">Ajouter 10:00 - 11:30</button>
      </form>
      
      <form action="/addAppointment2" method="post">
        <div class="form-group">
          <input
            id="email"
            class="form-control"
            name="time"
            value="11:30 - 13:30"
            required
            minlength="5"
            maxlength="50"
            placeholder="username"
            hidden
          />
        </div>
        <button class="btn-success btn-sm">Ajouter 11:30 - 13:30</button>
      </form>
      
      
      <button class="btn-info btn-sm" onclick="">Samedi</button>
      <table  >
        <thead>
          <tr>
            <th></th>
            <th>Nom</th>
            <th>Heure</th>
          </tr>
        </thead>
        <tbody id="table2">
          <% var num=1 %> <% foundUsers.forEach(function(foundUser){ %>
          <%if(foundUser.table2){%>
          <tr onclick="deleteAppoinment(this)">
            <td class="rank"><%= num++ %></td>

            <td class="team"><%= foundUser.name%></td>

            <td class="points">
              <%= foundUser.time %>  <%if(foundUser.deleteButton){%>
                <button id="supprimer2" class="btn-primary btn-sm">supprimer</button>
                <%}%>
            </td>
            <td class="rank" hidden><%=foundUser.id %></td>
          </tr>
          <%}%> <%})%>
        </tbody>
      </table>
    </div>
  </div>
</div>

</main>

<%-include("partials/footer"); -%>
